[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/clothes_shop_erp
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/clothes_shop_erp/clothes_shop_erp/clothes_shop_erp.sock clothes_shop_erp.wsgi:application

       
[Install]
WantedBy=multi-user.target